* {
  min-width: 1px;
  min-height: 1px;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
  color: #121f34;
}

body.bg-dirty {
  background-color: #f3f3f3;
}

.svg-defs {
  display: none;
  overflow: hidden;
}

input.input {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  outline-width: 2px;
  outline-color: #4857a9;
  font-family: Open Sans;
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
}

button:focus {
  outline: none;
}

.section {
  padding: 50px 0;
}

@media screena and (min-width: 578px) {
  .section {
    padding: 90px 0;
  }
}

.section--underline {
  border-bottom: 1px solid #b6b4b6;
}

.section__heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 50px auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 180px;
  height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  border: none;
}

@media screen and (min-width: 578px) {
  .button {
    font-size: 16px;
    height: 50px;
  }
}

.button:not(.button--outline) {
  background-color: #f3d93b;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-bottom: 1px solid #f2bc3a;
}

.button:not(.button--outline):hover {
  background-color: #f2bc3a;
}

.button:not(.button--outline):active {
  background-color: #e5aa1c;
}

.button svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button--outline {
  color: #4857a9;
  border: 1px solid #4857a9;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.button--outline:hover {
  color: #fff;
  background-color: #4857a9;
}

.button--outline:active {
  background-color: #394585;
}

.button--link:hover {
  color: inherit;
  text-decoration: none;
}

.route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.route:hover {
  background-color: #e3f3ff;
}

.route.active .route__open {
  color: #4857a9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.route.active .route__inner {
  display: block;
}

.route .route__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.route .route__header .route__country-flag {
  width: 32px;
  height: 32px;
}

.route .route__header .route__country-flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.route .route__header .route__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
}

.route .route__header .route__location .route__city {
  font-family: Open Sans;
  font-size: 14px;
  color: #4857a9;
}

.route .route__header .route__location .route__country {
  font-family: Rubik;
  font-size: 12px;
  color: #a3a3a3;
}

.route .route__header .route__open {
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.route .route__header .route__open svg {
  width: 15px;
  height: 10px;
  color: #a3a3a3;
}

.route .route__inner {
  display: none;
  margin-top: 15px;
}

.route .route__inner .route__variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  color: #4857a9;
}

.route .route__inner .route__variant:last-child {
  margin-bottom: 0;
}

.route .route__inner .route__variant .route__price {
  text-transform: uppercase;
}

.post {
  border: 2px solid #4857a9;
  border-radius: 5px;
  margin-bottom: 30px;
  font-family: Rubik;
  -webkit-transition: border 0.25s;
  transition: border 0.25s;
}

.post:hover {
  border: 2px solid #f3d93b;
}

.post__thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

.post__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  background-color: #f3f3f3;
}

.post__content .post__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.post__content .post__excerpt {
  color: #747577;
  font-size: 12px;
  margin-bottom: 20px;
}

.post__content .button--post {
  width: 100%;
  height: 40px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .post__content .button--post {
    font-size: 16px;
  }
}

.post__content .button--post:hover .post {
  border: 1px solid red;
}

.modal .modal-dialog {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

@media screen and (min-width: 578px) {
  .modal .modal-dialog {
    max-width: 380px;
  }
}

.modal .modal-dialog .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  border: 1px solid #f3d93b;
  border-radius: 50%;
  opacity: 1;
  width: 25px;
  height: 25px;
  font-weight: normal;
  font-size: 32px;
  line-height: 1;
  background-color: #f3f3f3;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

@media screen and (min-width: 578px) {
  .modal .modal-dialog .close {
    top: 0;
    right: 0;
    -webkit-transform: translate(calc(50% + 10px), 50%);
            transform: translate(calc(50% + 10px), 50%);
  }
}

.modal .modal-dialog .close:hover {
  opacity: 1;
  background-color: #f3d93b;
}

.modal .modal-dialog .close span {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.modal .modal-dialog .modal-header {
  padding: 0;
  border-bottom: 1px solid #b6b4b6;
}

.modal .modal-dialog .modal-header nav {
  width: 100%;
}

.modal .modal-dialog .modal-header nav .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
}

.modal .modal-dialog .modal-header nav .nav-tabs .nav-item {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  color: #747577;
  border: none;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.modal .modal-dialog .modal-header nav .nav-tabs .nav-item:hover {
  text-decoration: underline;
}

.modal .modal-dialog .modal-header nav .nav-tabs .nav-item.active {
  color: #4857a9;
  background-color: #f5fcfe;
  border-bottom: 2px solid #4857a9;
}

.modal .modal-dialog .modal-body {
  padding: 15px 20px 30px 20px;
  background-color: #f3f3f3;
}

@media screen and (min-width: 578px) {
  .modal .modal-dialog .modal-body {
    padding: 20px 35px 40px 35px;
  }
}

form.form--custom a {
  color: inherit;
}

form.form--custom a:hover {
  color: #4857a9;
  text-decoration: underline;
  -webkit-text-decoration-color: #4857a9;
          text-decoration-color: #4857a9;
}

form.form--custom .form-group {
  margin-bottom: 10px;
}

form.form--custom .form-group--password {
  position: relative;
}

form.form--custom .form-group--password .form-control {
  padding-right: 40px;
}

form.form--custom .form-group--password .password-hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 15px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
  width: 25px;
}

@media screen and (min-width: 578px) {
  form.form--custom .form-group--password .password-hide {
    -webkit-transform: translateY(-12.5px);
            transform: translateY(-12.5px);
  }
}

form.form--custom .form-group--password .password-hide.hide .icon--visible {
  display: none;
}

form.form--custom .form-group--password .password-hide.show .icon--disable {
  display: none;
}

form.form--custom .form-group--password .password-hide img {
  width: 100%;
  height: 100%;
}

form.form--custom .form-group .form-text {
  font-family: Rubik;
  font-size: 12px;
}

form.form--custom .form-group label {
  font-family: Rubik;
  font-size: 12px;
  margin-bottom: 5px;
}

form.form--custom .form-group label.invalid span {
  color: #d24a43;
}

form.form--custom .form-group .form-control {
  padding: 10px 15px;
  height: 35px;
  font-size: 14px;
}

@media screen and (min-width: 578px) {
  form.form--custom .form-group .form-control {
    height: 50px;
    font-size: 16px;
  }
}

form.form--custom .form-group .form-control.invalid {
  border: 2px solid #d24a43;
}

form.form--custom .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4857a9;
  border-color: #4857a9;
}

form.form--custom .form-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Rubik;
  font-size: 12px;
}

form.form--custom .form-social-regs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

form.form--custom .form-social-regs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid #4857a9;
  border-radius: 3px;
  color: #4857a9;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

form.form--custom .form-social-regs a:hover {
  color: #fff;
  background-color: #4857a9;
}

form.form--custom .form-social-regs a svg {
  width: 17px;
  height: 17px;
}

form.form--custom .form-policy,
form.form--custom .form-agreement {
  font-family: Rubik;
  font-size: 11px;
  margin-top: 20px;
}

form.form--custom .form-policy a,
form.form--custom .form-agreement a {
  color: #4857a9;
  text-decoration: underline;
  -webkit-text-decoration-color: #4857a9;
          text-decoration-color: #4857a9;
}

form.form--custom button[type="submit"] {
  margin: 25px auto 0 auto;
}

.trip {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.trip.active {
  border: 2px solid #f3d93b;
}

.trip__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #fff;
}

@media screen and (min-width: 990px) {
  .trip__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 15px 25px;
  }
}

.trip__wrapper--child {
  display: none;
  background-color: #e0e0e0;
}

.trip__wrapper:first-child {
  border-top: none;
}

.trip__text {
  font-size: 14px;
}

@media screen and (min-width: 578px) {
  .trip__text {
    font-size: 16px;
  }
}

.trip__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  margin-right: 0;
}

@media screen and (min-width: 990px) {
  .trip__point {
    margin-right: 25px;
  }
}

.trip__point .point__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1;
}

.trip__point .point__time .time__hour {
  font-size: 24px;
  margin-right: 15px;
}

.trip__point .point__time .time__day {
  font-size: 16px;
  color: #747577;
}

.trip__point .point__place {
  line-height: 18px;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
}

.trip__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  min-width: 1px;
  width: 100%;
  margin: 30px 0;
}

@media screen and (min-width: 990px) {
  .trip__info {
    margin: 0 50px 0 0;
    min-width: 300px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .trip__info {
    min-width: 350px;
  }
}

.trip__info .info__top,
.trip__info .info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trip__info .info__divider {
  height: 2px;
  margin: 5px 0;
  background-color: #4857a9;
}

.trip__info .info__city {
  color: #747577;
}

.trip__info .info__logo {
  width: 90px;
}

.trip__price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}

@media screen and (min-width: 990px) {
  .trip__price {
    margin: 0 0 0 auto;
    padding: 0 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-top: none;
    border-left: 1px solid #ededed;
  }
}

.trip__price .price__value {
  margin-bottom: 10px;
}

.trip__price .price__currency {
  color: #747577;
}

.trip__open {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #e3f3ff;
}

@media screen and (min-width: 990px) {
  .trip__open {
    right: 0;
    top: 0;
    height: 100%;
    width: 25px;
  }
}

.trip__open .open__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.trip__open .open__wrapper svg {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.trip__open .open__wrapper .open__info,
.trip__open .open__wrapper .open__arrow {
  width: 18px;
  height: 18px;
}

.trip__open .open__wrapper .open__info {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4857a9;
}

@media screen and (min-width: 990px) {
  .trip__open .open__wrapper .open__info {
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.trip__open .open__wrapper .open__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #747577;
}

@media screen and (min-width: 990px) {
  .trip__open .open__wrapper .open__arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.trip__open .open__wrapper .open__arrow svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.trip--parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trip--parent .trip__wrapper:not(.trip__wrapper--child) {
  padding: 20px 20px 40px 20px;
}

@media screen and (min-width: 990px) {
  .trip--parent .trip__wrapper:not(.trip__wrapper--child) {
    padding: 20px;
  }
}

.trip--parent.open .trip__wrapper--child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trip--parent.open .trip__open .open__arrow svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.dropdown.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown--date {
  min-width: 250px;
}

@media screen and (min-width: 578px) {
  .dropdown--date {
    min-width: 340px;
  }
}

.dropdown--date .dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

@media screen and (min-width: 578px) {
  .dropdown--date .dropdown__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.dropdown--date .dropdown__header .header__text {
  font-size: 12px;
  margin-bottom: 5px;
}

@media screen and (min-width: 578px) {
  .dropdown--date .dropdown__header .header__text {
    margin: 0;
  }
}

.dropdown--date .dropdown__header button {
  font-size: 12px;
  padding: 0 10px;
  border: 1px solid #f3d93b;
  border-radius: 3px;
  color: inherit;
  background-color: transparent;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 25px;
}

.dropdown--date .dropdown__header button:hover {
  color: inherit;
  background-color: #f2bc3a;
}

.dropdown--date .dropdown__header button.active {
  background-color: #f3d93b;
  border-bottom: 1px solid #f2bc3a;
}

.dropdown--select {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 5px;
  background-color: #fff;
  max-width: 100%;
  font-size: 14px;
}

.dropdown--select .dropdown__item {
  margin-bottom: 5px;
  cursor: pointer;
}

.dropdown--select .dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown--select .dropdown__item.active {
  text-decoration: underline;
  -webkit-text-decoration-color: #f2bc3a;
          text-decoration-color: #f2bc3a;
}

.dropdown--select .dropdown__item:hover {
  color: #f3d93b;
  text-decoration: underline;
  -webkit-text-decoration-color: #f2bc3a;
          text-decoration-color: #f2bc3a;
}

.header {
  position: relative;
  background: #f3f3f3;
  border-bottom: 1px solid #b6b4b6;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
}

@media screen and (min-width: 578px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__logo {
  width: 180px;
  margin-bottom: 20px;
}

@media screen and (min-width: 578px) {
  .header__logo {
    margin: 0;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__buttons > * {
  margin-right: 15px;
}

.header__buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f3d93b;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.header__buttons button:last-child {
  margin-right: 0;
}

.header__buttons button:hover {
  background: rgba(243, 217, 59, 0.15);
}

.header__buttons button:active, .header__buttons button.active {
  background: #f3d93b;
}

.header__buttons button img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__buttons .button--text {
  padding: 5px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 40%;
}

.header__buttons .button--menu {
  position: relative;
}

.header__buttons .button--dropdown::before {
  content: '';
  display: none;
  position: absolute;
  bottom: -33px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.header__buttons .button--dropdown.active::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__buttons .button--dropdown.active::before {
    display: block;
  }
}

.header .language-select {
  position: relative;
}

.header .language-select .language-list {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 9999;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  border-radius: 3px;
  padding: 10px 20px;
  background: #fff;
}

.header .language-select .language-list.show {
  display: block;
}

.header .language-select .language-list button {
  border: none;
  border-radius: 0;
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0 0 5px 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.header .language-select .language-list button.active {
  text-decoration: underline;
  -webkit-text-decoration-color: #f3d93b;
          text-decoration-color: #f3d93b;
}

.header .language-select .language-list button:hover {
  color: #f3d93b;
  text-decoration: underline;
  -webkit-text-decoration-color: #f3d93b;
          text-decoration-color: #f3d93b;
}

.header__menu {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 75%;
  left: 12.5%;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 578px) {
  .header__menu {
    width: 50%;
    left: 25%;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    width: 100%;
    left: 0;
    padding: 25px 80px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header__menu.show {
  display: block;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__menu ul .menu__item {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid rgba(182, 180, 182, 0.5);
}

@media screen and (min-width: 768px) {
  .header__menu ul .menu__item {
    margin: 0 10px;
    padding: 0;
    border-bottom: none;
    width: auto;
  }
}

.header__menu ul .menu__item:last-child {
  border-bottom: none;
}

.header__menu ul .menu__item .menu__link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: inherit;
}

.header__menu ul .menu__item .menu__link:hover {
  color: #f3d93b;
}

.header__menu ul .menu__item .menu__link.active {
  text-decoration: underline;
  -webkit-text-decoration-color: #f3d93b;
          text-decoration-color: #f3d93b;
}

.footer {
  background: #f3f3f3;
  padding: 30px 0;
  font-family: Rubik;
}

.footer .row.row--contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 990px) {
  .footer .row.row--contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer hr {
  margin: 25px 0;
  background: #b6b4b6;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 578px) {
  .footer__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__contact .contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact .contact__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.footer__contact .contact__messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact .contact__messengers .messengers__title {
  margin-bottom: 10px;
}

.footer__contact .contact__messengers .messengers__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__contact .contact__messengers .messengers__icons a {
  margin-right: 20px;
}

.footer__contact .contact__messengers .messengers__icons a:last-child {
  margin-right: 0;
}

.footer__contact .contact__messengers .messengers__icons a:hover svg {
  color: #4857a9;
}

.footer__contact .contact__messengers .messengers__icons svg {
  color: #596271;
  width: 30px;
  height: 30px;
}

.footer__subscribe {
  margin: 50px 0 0 0;
}

@media screen and (min-width: 990px) {
  .footer__subscribe {
    margin: 0;
  }
}

.footer__subscribe .subscribe__title {
  display: block;
  margin-bottom: 10px;
}

.footer__subscribe .subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media screen and (min-width: 578px) {
  .footer__subscribe .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__subscribe .subscribe__form input {
  width: 100%;
}

.footer__subscribe .subscribe__form button[type="submit"] {
  min-width: 170px;
  max-height: 100%;
  min-height: 40px;
  border: none;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #596271;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.footer__subscribe .subscribe__form button[type="submit"]:hover {
  background-color: #4857a9;
}

.footer__subscribe .subscribe__form button[type="submit"]:active {
  background-color: #394585;
}

.footer__subscribe .subscribe__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__subscribe .subscribe__socials a {
  margin-right: 20px;
}

.footer__subscribe .subscribe__socials a:last-child {
  margin-right: 0;
}

.footer__subscribe .subscribe__socials a:hover svg {
  color: #4857a9;
}

.footer__subscribe .subscribe__socials svg {
  color: #596271;
  width: 30px;
  height: 30px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.footer__copyright .copyright__text {
  margin-top: 10px;
}

.section.section--social .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Rubik;
}

.section.section--social .socials a {
  color: #4857a9;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  margin: 0 20px 20px 0;
}

.section.section--social .socials a:last-child {
  margin-right: 0;
}

.section.section--social .socials a:hover {
  color: #f3d93b;
}

.section.section--social .socials a svg {
  width: 20px;
  height: 20px;
}

.section.section--social .button--google-play {
  font-size: 12px;
  width: 180px;
  height: 40px;
  margin: 30px auto 0 auto;
}

.section.section--ticket-search {
  background-image: url("../img/backgrounds/ticket-form.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 630px;
  padding: 60px 0;
}

.section.section--ticket-search .section__heading {
  color: #fff;
  font-size: 32px;
  text-transform: none;
  margin-bottom: 80px;
}

.section.section--ticket-search .button--ticket-search {
  font-size: 22px;
  text-transform: none;
  width: 210px;
  height: 60px;
  margin: 50px auto 0 auto;
}

.section.section--ticket-search .ticket-form {
  border-radius: 3px;
}

.section.section--ticket-search .ticket-form .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
}

@media screen and (min-width: 990px) {
  .section.section--ticket-search .ticket-form .items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section.section--ticket-search .ticket-form .items .item {
  position: relative;
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #b6b4b6;
}

@media screen and (min-width: 990px) {
  .section.section--ticket-search .ticket-form .items .item {
    width: 20%;
    border-right: 2px solid #b6b4b6;
    border-bottom: none;
  }
}

.section.section--ticket-search .ticket-form .items .item.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #f3d93b;
  border-radius: 3px;
}

.section.section--ticket-search .ticket-form .items .item.active .item__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc((36px * 6) + 22px);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level {
  display: none;
  background-color: #f3f3f3;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level--country, .section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level--search {
  background-color: #fff;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__header {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  color: #747577;
  background-color: #e8e8e8;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list {
  height: calc(100% - 22px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow: auto;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item {
  padding: 10px 20px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item:hover {
  background-color: #e3f3ff;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item:active, .section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item.active {
  background-color: #b0ddff;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level--search .dropdown__list {
  background-color: #fff;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level--search .dropdown__list .dropdown__item span.country {
  color: #747577;
}

.section.section--ticket-search .ticket-form .items .item__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.section--ticket-search .ticket-form .items .item__icon .icon--close {
  display: none;
}

.section.section--ticket-search .ticket-form .items .item:last-child {
  border-right: none;
}

.section.section--ticket-search .ticket-form .items .item .ticket-form__input {
  margin: 0;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

.section.section--ticket-search .ticket-form .items .item--icon.active .item__icon .icon--default {
  display: none;
}

.section.section--ticket-search .ticket-form .items .item--icon.active .item__icon .icon--close {
  display: block;
}

.section.section--ticket-search .ticket-form .items .item--icon .ticket-form__input {
  padding-right: 45px;
}

.section.section--ticket-search .ticket-form .items .item--select.active .preview__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown {
  height: calc(36px * 7);
}

.section.section--ticket-search .ticket-form .items .item--select select {
  display: none;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview .preview__selected {
  padding: 20px;
  background: none;
  border: none;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview .preview__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4857a9;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview .preview__icon svg {
  width: 15px;
  height: 10px;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown {
  width: 100%;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(36px * 7);
  overflow-y: auto;
  background: #fff;
  border-radius: 0 0 3px 3px;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list .dropdown__item {
  cursor: pointer;
  color: #747577;
  line-height: 1;
  padding: 10px 20px;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list .dropdown__item:hover {
  color: #121f34;
  background-color: #e3f3ff;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list .dropdown__item:active {
  background-color: #b0ddff;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown {
  background-color: #fff;
  height: auto;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 990px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown {
    width: 660px;
    left: 40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 1400px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown {
    left: -140px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

@media screen and (min-width: 768px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__text {
  font-size: 12px;
  margin-left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #747577;
}

@media screen and (min-width: 768px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__text {
    margin-left: 25px;
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons {
    margin-left: 15px;
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons {
    margin-left: auto;
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons hr {
  display: none;
  background-color: #dcdcdc;
  margin: 5px 0;
}

@media screen and (min-width: 578px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons hr {
    display: block;
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons .buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media screen and (min-width: 578px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons .buttons__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button {
  border: 1px solid #f3d93b;
  border-radius: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 25px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  background: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

@media screen and (min-width: 578px) {
  .section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button.active {
  background-color: #f3d93b;
  border-bottom: 1px solid #f2bc3a;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button.button--small {
  width: 130px;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button.button--large {
  width: 260px;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button:hover {
  background-color: #f2bc3a;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button:last-child {
  margin-right: 0;
}

.section.section--ticket-search .ticket-form .items .ticket-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 64px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
}

@media screen and (min-width: 990px) {
  .section.section--ticket-search .ticket-form .items .ticket-switch {
    top: 50%;
    left: 20%;
  }
}

.section.section--ticket-search .ticket-form .items .ticket-switch:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.section.section--ticket-search .ticket-form .items .ticket-switch:active {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(72, 87, 169, 0.2);
          box-shadow: 0px 0px 5px 5px rgba(72, 87, 169, 0.2);
}

.section.section--ticket-search .ticket-form .items .ticket-switch img {
  width: 100%;
  height: 100%;
}

.section.section--steps {
  padding: 0;
  font-size: 14px;
}

.section.section--steps .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e4e7e8;
  background-color: #fff;
}

.section.section--steps .steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 45px;
  color: #a3a3a3;
}

@media screen and (min-width: 578px) {
  .section.section--steps .steps .step {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (min-width: 990px) {
  .section.section--steps .steps .step {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding-right: 20px;
    -webkit-clip-path: polygon(calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%, 0 46%, 0% 0%);
            clip-path: polygon(calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%, 0 46%, 0% 0%);
  }
  .section.section--steps .steps .step::after {
    content: '';
  }
}

.section.section--steps .steps .step::after {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #a3a3a3;
  border-top: 1px solid #a3a3a3;
  width: 15px;
  height: 15px;
}

.section.section--steps .steps .step:last-child::after {
  content: none;
}

.section.section--steps .steps .step.current {
  color: #4857a9;
  background-color: #f5fcfe;
  border-bottom: 2px solid #4857a9;
}

.section.section--route-select .route-name {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.section.section--route-select .timebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 15px;
}

.section.section--route-select .timebar .has-divider {
  border-left: 1px solid #ededed;
}

.section.section--route-select .timebar__opendate {
  width: 100%;
  color: #4857a9;
  background-color: #f5fcfe;
  border-bottom: 2px solid #4857a9;
  text-align: center;
  padding: 15px 0;
}

.section.section--route-select .timebar__opendate span {
  padding-left: 0;
}

@media screen and (min-width: 990px) {
  .section.section--route-select .timebar__opendate span {
    padding-left: 60px;
  }
}

.section.section--route-select .timebar__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section.section--route-select .timebar__slider .slider__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.section.section--route-select .timebar__slider .slider__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section.section--route-select .timebar__slider * {
  outline: none;
}

.section.section--route-select .timebar__slider .timebar__day {
  cursor: pointer;
  color: #747577;
  text-align: center;
  padding: 15px 0;
}

.section.section--route-select .timebar__slider .timebar__day span {
  display: block;
  width: 100%;
}

.section.section--route-select .timebar__slider .timebar__day.active {
  color: #4857a9;
  background-color: #f5fcfe;
  border-bottom: 2px solid #4857a9;
}

.section.section--route-select .timebar__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #747577;
  background: none;
  border: none;
  padding: 0 15px;
}

.section.section--route-select .timebar__arrow svg {
  width: 15px;
  height: 20px;
}

.section.section--route-select .timebar__arrow.timebar__prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section.section--route-select .timebar__calendar {
  position: relative;
  border: none;
  background: none;
  min-height: 100%;
  padding: 0 25px;
}

.section.section--route-select .timebar__calendar .calendar__icon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20px;
}

.section.section--route-select .timebar__calendar .calendar__icon .icon--close {
  display: none;
}

.section.section--route-select .timebar__calendar .calendar__icon.active .icon--default {
  display: none;
}

.section.section--route-select .timebar__calendar .calendar__icon.active .icon--close {
  display: block;
}

.section.section--route-select .timebar__calendar .calendar__dropdown {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section.section--route-select .timebar__calendar.active .icon--default {
  display: none;
}

.section.section--route-select .timebar__calendar.active .icon--close {
  display: block;
}

.section.section--route-submit {
  padding: 0 0 50px 0;
}

@media screen and (min-width: 578px) {
  .section.section--route-submit {
    padding: 0 0 200px 0;
  }
}

.section.section--route-submit .route-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

@media screen and (min-width: 578px) {
  .section.section--route-submit .route-submit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section.section--route-submit .route-submit .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.section.section--route-submit .route-submit .price__text {
  font-size: 12px;
  color: #747577;
}

.section.section--route-submit .route-submit .price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.section.section--route-submit .route-submit .price__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 24px;
  min-width: 100px;
}

.section.section--route-submit .route-submit .price__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  background-color: transparent;
  padding: 0 5px;
  font-size: 14px;
  border: none;
  border-left: 1px solid #ededed;
}

.section.section--route-submit .route-submit .price__currency svg {
  width: 10px;
  height: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #747577;
}

.section.section--route-submit .route-submit .button {
  color: inherit;
  max-width: 200px;
  height: 50px;
  margin-top: 10px;
}

@media screen and (min-width: 578px) {
  .section.section--route-submit .route-submit .button {
    margin: 0;
  }
}
