body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #121f34;
}

.svg-defs {
  display: none;
  overflow: hidden;
}

input.input {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  outline-width: 2px;
  outline-color: #4857a9;
  background: #fff;
  -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
}

button:focus {
  outline: none;
}

.section {
  padding: 90px 0;
}

.section--underline {
  border-bottom: 1px solid #b6b4b6;
}

.section__heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 auto 50px auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  padding: 0 20px;
  border-radius: 3px;
  border: none;
}

.button:not(.button--outline) {
  background-color: #f3d93b;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-bottom: 1px solid #f2bc3a;
}

.button:not(.button--outline):hover {
  background-color: #f2bc3a;
}

.button:not(.button--outline):active {
  background-color: #e5aa1c;
}

.button svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button--outline {
  color: #4857a9;
  border: 1px solid #4857a9;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.button--outline:hover {
  color: #fff;
  background-color: #4857a9;
}

.button--outline:active {
  background-color: #394585;
}

.button--link:hover {
  text-decoration: none;
}

.route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.route:hover {
  background-color: #e3f3ff;
}

.route.active .route__open {
  color: #4857a9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.route.active .route__inner {
  display: block;
}

.route .route__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.route .route__header .route__country-flag {
  width: 32px;
  height: 32px;
}

.route .route__header .route__country-flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.route .route__header .route__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
}

.route .route__header .route__location .route__city {
  font-size: 14px;
  color: #4857a9;
}

.route .route__header .route__location .route__country {
  font-size: 12px;
  color: #a3a3a3;
}

.route .route__header .route__open {
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.route .route__header .route__open svg {
  width: 15px;
  height: 10px;
  color: #a3a3a3;
}

.route .route__inner {
  display: none;
  margin-top: 15px;
}

.route .route__inner .route__variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  color: #4857a9;
}

.route .route__inner .route__variant:last-child {
  margin-bottom: 0;
}

.route .route__inner .route__variant .route__price {
  text-transform: uppercase;
}

.post {
  border: 2px solid #4857a9;
  border-radius: 5px;
  -webkit-transition: border 0.25s;
  transition: border 0.25s;
}

.post:hover {
  border: 2px solid #f3d93b;
}

.post__thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

.post__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  background-color: #f3f3f3;
}

.post__content .post__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.post__content .post__excerpt {
  color: #747577;
  font-size: 12px;
  margin-bottom: 20px;
}

.post__content .button--post {
  width: 100%;
  height: 40px;
}

.post__content .button--post:hover .post {
  border: 1px solid red;
}

.header {
  position: relative;
  background: #f3f3f3;
  border-bottom: 1px solid #b6b4b6;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
}

.header__logo {
  width: 180px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__buttons > * {
  margin-right: 15px;
}

.header__buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f3d93b;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.header__buttons button:last-child {
  margin-right: 0;
}

.header__buttons button:hover {
  background: rgba(243, 217, 59, 0.15);
}

.header__buttons button:active, .header__buttons button.active {
  background: #f3d93b;
}

.header__buttons button img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__buttons .button--text {
  padding: 5px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 40%;
}

.header__buttons .button--menu {
  position: relative;
}

.header__buttons .button--dropdown::before {
  content: '';
  display: none;
  position: absolute;
  bottom: -33px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.header__buttons .button--dropdown.active::before {
  display: block;
}

.header .language-select {
  position: relative;
}

.header .language-select .language-list {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  border-radius: 3px;
  padding: 10px 20px;
  background: #fff;
}

.header .language-select .language-list.show {
  display: block;
}

.header .language-select .language-list button {
  border: none;
  border-radius: 0;
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0 0 5px 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.header .language-select .language-list button.active {
  text-decoration: underline;
  -webkit-text-decoration-color: #f3d93b;
          text-decoration-color: #f3d93b;
}

.header .language-select .language-list button:hover {
  color: #f3d93b;
  text-decoration: underline;
  -webkit-text-decoration-color: #f3d93b;
          text-decoration-color: #f3d93b;
}

.header__menu {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 25px 80px;
  background: #fff;
}

.header__menu.show {
  display: block;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu ul .menu__item {
  display: inline-block;
  margin: 0 10px;
}

.header__menu ul .menu__item .menu__link {
  font-size: 16px;
  color: inherit;
}

.header__menu ul .menu__item .menu__link:hover {
  color: #f3d93b;
}

.header__menu ul .menu__item .menu__link.active {
  text-decoration: underline;
  -webkit-text-decoration-color: #f3d93b;
          text-decoration-color: #f3d93b;
}

.footer {
  background: #f3f3f3;
  padding: 30px 0;
}

.footer hr {
  margin: 25px 0;
  background: #b6b4b6;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__contact .contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact .contact__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.footer__contact .contact__messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact .contact__messengers .messengers__title {
  margin-bottom: 10px;
}

.footer__contact .contact__messengers .messengers__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__contact .contact__messengers .messengers__icons a {
  margin-right: 20px;
}

.footer__contact .contact__messengers .messengers__icons a:last-child {
  margin-right: 0;
}

.footer__contact .contact__messengers .messengers__icons a:hover svg {
  color: #4857a9;
}

.footer__contact .contact__messengers .messengers__icons svg {
  color: #596271;
  width: 30px;
  height: 30px;
}

.footer__subscribe .subscribe__title {
  display: block;
  margin-bottom: 10px;
}

.footer__subscribe .subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.footer__subscribe .subscribe__form input {
  width: 100%;
}

.footer__subscribe .subscribe__form button[type="submit"] {
  min-width: 170px;
  max-height: 100%;
  border: none;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  background-color: #596271;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.footer__subscribe .subscribe__form button[type="submit"]:hover {
  background-color: #4857a9;
}

.footer__subscribe .subscribe__form button[type="submit"]:active {
  background-color: #394585;
}

.footer__subscribe .subscribe__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__subscribe .subscribe__socials a {
  margin-right: 20px;
}

.footer__subscribe .subscribe__socials a:last-child {
  margin-right: 0;
}

.footer__subscribe .subscribe__socials a:hover svg {
  color: #4857a9;
}

.footer__subscribe .subscribe__socials svg {
  color: #596271;
  width: 30px;
  height: 30px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.footer__copyright .copyright__text {
  margin-top: 10px;
}

.section.section--social .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.section--social .socials a {
  color: #4857a9;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  margin-right: 20px;
}

.section.section--social .socials a:last-child {
  margin-right: 0;
}

.section.section--social .socials a:hover {
  color: #f3d93b;
}

.section.section--social .socials a svg {
  width: 20px;
  height: 20px;
}

.section.section--social .button--google-play {
  font-size: 12px;
  width: 180px;
  height: 40px;
  margin: 30px auto 0 auto;
}

.section.section--ticket-search {
  background-image: url("../img/backgrounds/ticket-form.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  padding: 60px 0;
}

.section.section--ticket-search .section__heading {
  color: #fff;
  font-size: 32px;
  text-transform: none;
  margin-bottom: 80px;
}

.section.section--ticket-search .button--ticket-search {
  font-size: 22px;
  text-transform: none;
  width: 210px;
  height: 60px;
  margin: 50px auto 0 auto;
}

.section.section--ticket-search .ticket-form {
  border-radius: 3px;
}

.section.section--ticket-search .ticket-form .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
}

.section.section--ticket-search .ticket-form .items .item {
  position: relative;
  width: 20%;
  border-right: 2px solid #b6b4b6;
}

.section.section--ticket-search .ticket-form .items .item.active {
  border: 2px solid #f3d93b;
  border-radius: 3px;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc((36px * 6) + 22px);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__header {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  color: #747577;
  background-color: #e8e8e8;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list {
  height: calc(100% - 22px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f3f3f3;
  overflow: auto;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list--primary {
  background-color: #fff;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item {
  padding: 10px 20px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item:hover {
  background-color: #e3f3ff;
}

.section.section--ticket-search .ticket-form .items .item--dropdown .item__dropdown .dropdown__level .dropdown__list .dropdown__item:active {
  background-color: #b0ddff;
}

.section.section--ticket-search .ticket-form .items .item__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.section--ticket-search .ticket-form .items .item__icon .icon--close {
  display: none;
}

.section.section--ticket-search .ticket-form .items .item:last-child {
  border-right: none;
}

.section.section--ticket-search .ticket-form .items .item .ticket-form__input {
  margin: 0;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

.section.section--ticket-search .ticket-form .items .item--icon.active .item__icon .icon--default {
  display: none;
}

.section.section--ticket-search .ticket-form .items .item--icon.active .item__icon .icon--close {
  display: block;
}

.section.section--ticket-search .ticket-form .items .item--icon .ticket-form__input {
  padding-right: 45px;
}

.section.section--ticket-search .ticket-form .items .item--select {
  padding: 20px;
}

.section.section--ticket-search .ticket-form .items .item--select.active .preview__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section.section--ticket-search .ticket-form .items .item--select select {
  display: none;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview .preview__selected {
  color: #747577;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview .preview__icon {
  color: #4857a9;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--select .item__preview .preview__icon svg {
  width: 15px;
  height: 10px;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown {
  width: 100%;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(36px * 7);
  overflow-y: auto;
  background: #fff;
  border-radius: 0 0 3px 3px;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list .dropdown__item {
  cursor: pointer;
  color: #747577;
  line-height: 1;
  padding: 10px 20px;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list .dropdown__item:hover {
  color: #121f34;
  background-color: #e3f3ff;
}

.section.section--ticket-search .ticket-form .items .item--select .item__dropdown .dropdown__list .dropdown__item:active {
  background-color: #b0ddff;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown {
  background-color: #fff;
  height: auto;
  min-width: 660px;
  left: -140px;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__text {
  font-size: 12px;
  margin-left: 25px;
  color: #747577;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons {
  margin-left: auto;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons hr {
  background-color: #dcdcdc;
  margin: 5px 0;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons .buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button {
  border: 1px solid #f3d93b;
  border-radius: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 25px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 10px;
  margin-right: 15px;
  background: none;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button.active {
  background-color: #f3d93b;
  border-bottom: 1px solid #f2bc3a;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button.button--small {
  width: 130px;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button.button--large {
  width: 260px;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button:hover {
  background-color: #f2bc3a;
}

.section.section--ticket-search .ticket-form .items .item--date .item__dropdown .dropdown__header .dropdown__buttons button:last-child {
  margin-right: 0;
}

.section.section--ticket-search .ticket-form .items .replace-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.section.section--ticket-search .ticket-form .items .replace-icon img {
  width: 100%;
  height: 100%;
}
