.section.section--step-submit
    .button
        max-width: 200px

        color: inherit

        &--outline
            border: 2px solid $yellow-light

            &:hover
                background-color: $yellow-light

            &:active
                background-color: $yellow