.section.section--ticket-search
    background-image: url("../img/backgrounds/ticket-form.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    height: 630px

    padding: 60px 0

    .section__heading
        color: #fff

        font-size: 32px

        text-transform: none

        margin-bottom: 80px

    .button--ticket-search
        font-size: 22px
        text-transform: none

        width: 210px
        height: 60px

        margin: 50px auto 0 auto

    .ticket-form
        border-radius: 3px

        .items
            display: flex
            flex-direction: row

            position: relative

            border-radius: 3px

            background-color: #fff

            .item
                position: relative

                width: 20%

                border-right: 2px solid $gray-pink

                &.active
                    &::before
                        content: ''

                        position: absolute

                        top: 0
                        left: 0

                        width: 100%
                        height: 100%

                        border: 2px solid $yellow-light
                        border-radius: 3px

                &--dropdown
                    .item__dropdown
                        display: none

                        flex-direction: row

                        height: calc((36px * 6) + 22px)

                        box-shadow: 0px 0px 5px 5px rgba(#000, .1)

                        position: absolute
                        top: 100%
                        left: 0

                        &.active
                            display: flex

                        .dropdown__level
                            display: none

                            background-color: $white-dark

                            &--country,
                            &--search
                                background-color: #fff

                            .dropdown__header
                                padding: 5px 20px

                                font-size: 12px
                                line-height: 1

                                color: #747577
                                
                                background-color: #e8e8e8

                            .dropdown__list
                                height: calc(100% - 22px)
                                width: max-content

                                list-style: none

                                padding: 0
                                margin: 0

                                background-color: transparent

                                overflow: auto

                                .dropdown__item
                                    padding: 10px 20px

                                    line-height: 1

                                    cursor: pointer

                                    transition: background-color $transition--default

                                    &:hover
                                        background-color: $blue-light

                                    &:active,
                                    &.active
                                        background-color: darken($blue-light, 10%)

                            &--search
                                .dropdown__list
                                    background-color: #fff
                                    
                                    .dropdown__item
                                        span
                                            color: $gray

                &__icon
                    position: absolute
                    top: 50%
                    right: 20px

                    transform: translateY(-50%)

                    display: flex
                    justify-content: center
                    align-items: center

                    .icon--close
                        display: none

                &:last-child
                    border-right: none

                .ticket-form__input
                    margin: 0
                    padding: 20px

                    width: 100%

                    outline: none

                    border: none

                    background: none

                &--icon
                    &.active
                        .item__icon
                            .icon--default
                                display: none

                            .icon--close
                                display: block

                    .ticket-form__input
                        padding-right: 45px

                &--select
                    padding: 20px

                    &.active
                        .preview__icon
                            transform: rotate(180deg)
                    
                    select
                        display: none

                    .item__preview
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: center

                        user-select: none

                        cursor: pointer

                        .preview__selected
                            color: $gray

                        .preview__icon
                            color: $facebook

                            transition: transform $transition--default

                            svg
                                width: 15px
                                height: 10px
                    
                    .item__dropdown
                        width: 100%

                        .dropdown__list
                            list-style: none

                            margin: 0
                            padding: 0

                            width: 100%
                            height: calc(36px * 7)

                            overflow-y: auto

                            background: #fff

                            border-radius: 0 0 3px 3px

                            .dropdown__item
                                cursor: pointer

                                color: $gray

                                line-height: 1

                                padding: 10px 20px

                                transition: background-color $transition--default, color $transition--default

                                &:hover
                                    color: $blue-dark
                                    background-color: $blue-light


                                &:active
                                    background-color: darken($blue-light, 10%)
                
                &--date
                    .item__dropdown
                        background-color: #fff

                        height: auto
                        min-width: 660px

                        left: -140px

                        .dropdown__header
                            display: flex
                            flex-direction: row

                            width: 100%

                            padding: 10px

                            border-bottom: 1px solid #dcdcdc

                            .dropdown__text
                                font-size: 12px

                                margin-left: 25px

                                color: $gray

                            .dropdown__buttons
                                margin-left: auto

                                hr
                                    background-color: #dcdcdc

                                    margin: 5px 0

                                .buttons__row
                                    display: flex
                                    flex-direction: row
                                    justify-content: space-between

                                    padding: 0 15px

                                button
                                    border: 1px solid $yellow-light
                                    border-radius: 3px

                                    width: max-content
                                    height: 25px

                                    font-size: 12px
                                    text-transform: uppercase
                                    line-height: 1

                                    padding: 0 10px

                                    margin-right: 15px

                                    background: none

                                    transition: background $transition--default

                                    &.active
                                        background-color: $yellow-light

                                        border-bottom: 1px solid $yellow

                                    &.button--small
                                        width: 130px

                                    &.button--large
                                        width: 260px

                                    &:hover
                                        background-color: $yellow

                                    &:last-child
                                        margin-right: 0

            .replace-icon
                display: flex
                justify-content: center
                align-items: center

                position: absolute
                top: 50%
                left: 20%
                z-index: 2

                transform: translate(-50%, -50%)

                width: 30px
                height: 30px

                padding: 5px

                border-radius: 50%

                box-shadow: 0px 0px 5px 5px rgba(#000, .05)

                background-color: #fff

                img
                    width: 100%
                    height: 100%