.header
    position: relative

    background: $white-dark

    border-bottom: 1px solid $gray-pink

    &__wrapper
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        padding: 15px 50px

    &__logo
        width: 180px

    &__buttons
        display: flex
        flex-direction: row

        button
            display: flex
            align-items: center
            justify-content: center

            margin-right: 15px

            border: 1px solid $yellow-light
            border-radius: 50%

            width: 32px
            height: 32px

            background: none
            
            transition: background $transition--default

            &:last-child
                margin-right: 0

            &:hover
                background: rgba($yellow-light, .15)

            &:active,
            &.active
                background: $yellow-light

            img
                width: max-content
        
        .button--text
            padding: 5px 15px

            width: max-content

            border-radius: 40%

        .button--menu
            position: relative

            &::before
                content: ''

                display: none

                position: absolute
                bottom: -30px

                width: 20px
                height: 20px

                transform: rotate(45deg)
                
                background: #fff

            &.active
                &::before
                    display: block

    &__menu
        display: none

        position: absolute

        width: 100%

        padding: 25px 80px

        background: #fff

        &.show
            display: block

        ul
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            flex-wrap: wrap

            list-style: none

            margin: 0
            padding: 0

            .menu__item
                display: inline-block

                margin: 0 10px

                .menu__link
                    font-size: 16px

                    color: inherit

                    &:hover
                        color: $yellow-light

                    &.active
                        text-decoration: underline
                        text-decoration-color: $yellow-light