.modal
    .modal-dialog
        max-width: 380px

        .modal-header
            padding: 0

            border-bottom: 1px solid $gray-pink

            nav
                width: 100%

                .nav-tabs
                    display: flex
                    flex-direction: row

                    border: none

                    .nav-item
                        width: 50%
                        height: 100%

                        padding: 15px

                        font-size: 14px
                        text-align: center

                        color: $gray

                        border: none

                        transition: color $transition--default, background-color $transition--default

                        &:hover
                            text-decoration: underline

                        &.active
                            color: $facebook
                            background-color: #f5fcfe

                            border-bottom: 2px solid $facebook

        .modal-body
            padding: 20px 40px 40px 40px

            background-color: $white-dark

            form
                a
                    color: inherit

                    &:hover
                        color: $facebook
                        text-decoration: underline
                        text-decoration-color: $facebook

                .form-group
                    margin-bottom: 10px

                    &--password
                        position: relative

                        .form-control
                            padding-right: 40px

                        .password-hide
                            display: flex
                            justify-content: center
                            align-items: center

                            position: absolute
                            bottom: 0
                            right: 15px

                            transform: translateY(-50%)

                            cursor: pointer

                            width: 25px

                            &.hide
                                .icon--visible
                                    display: none

                            &.show
                                .icon--disable
                                    display: none

                            img
                                width: 100%
                                height: 100%

                    label
                        font-family: $font--rubik
                        font-size: 12px

                        margin-bottom: 5px

                        &.invalid
                            span
                                color: $red
                    
                    .form-control
                        height: 50px

                        &.invalid
                            border: 2px solid $red
                
                .form-links
                    display: flex
                    flex-direction: row
                    justify-content: space-between

                    font-family: $font--rubik
                    font-size: 12px

                .form-social-regs
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    align-items: center

                    margin-top: 25px

                    a
                        display: flex
                        justify-content: center
                        align-items: center

                        width: 28px
                        height: 28px

                        border: 1px solid $facebook
                        border-radius: 3px

                        color: $facebook

                        transition: background-color $transition--default, color $transition--default

                        &:hover
                            color: #fff
                            background-color: $facebook

                        svg
                            width: 17px
                            height: 17px
                
                .form-policy
                    font-family: $font--rubik
                    font-size: 11px

                    margin-top: 10px

                    a
                        color: $facebook
                        text-decoration: underline
                        text-decoration-color: $facebook
                
                button[type="submit"]
                    margin: 25px auto 0 auto



